<div class="row">
  <div class="col-lg-4">
    <calendar ng-model="test.d1" />
  </div>

  <div class="col-lg-4">
    <calendar ng-model="test.d2" data-mode="date" />
  </div>

  <div class="col-lg-4">
    <calendar ng-model="test.d3" data-mode="time" />
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <pre>{{ test.d1 }}</pre>
  </div>

  <div class="col-lg-4">
    <pre>{{ test.d2 }}</pre>
  </div>

  <div class="col-lg-4">
    <pre>{{ test.d3 }}</pre>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <condor-document-upload ng-model="test.doc1" upload-url="http://rock.io/S3" multiple />
  </div>

  <div class="col-lg-6">
    <condor-document-upload ng-model="test.doc2" upload-url="http://rock.io/S3" />
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <condor-document-list src="test.doc1" />
  </div>

  <div class="col-lg-6">
    <condor-document src="test.doc2" />
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <condor-image-upload ng-model="test.image1" multiple />
  </div>

  <div class="col-lg-6">
    <condor-image-upload ng-model="test.image2" />
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <condor-image-list src="test.image1" x="16" y="9" type="image/png" upload-url="http://rock.io/S3" quality="0.8" />
    <!-- <pre ng-bind="test.image1 | json"></pre> -->
  </div>

  <div class="col-lg-6">
    <condor-image src="test.image2" x="16" y="9" type="image/png" upload-url="http://rock.io/S3" />
    <!-- <pre ng-bind="test.image2 | json"></pre> -->
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <img ng-src="{{ test.image2.url }}" />
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <summernote ng-model="test.wysiwyg" config="{height: 300,toolbar: [['style', ['style']],['font', ['bold', 'italic', 'underline']],['fontsize', ['fontsize']],['color', ['color']],['para', ['ul', 'ol', 'paragraph']],['height', ['height']],['table', ['table']],['insert', ['link', 'picture', 'hr']],['view', ['fullscreen']]]}" />
  </div>
</div>
